.memenu
{margin:0;padding:0;width:100%;list-style:none;display:inline-block;position:relative;font-family:Calibri,Arial;font-size:15px}
.memenu li{display:inline-block;}
ul.memenu.skyblue {text-align: center;}
.memenu>li>a{font-family: 'Roboto-Regular';float:left;padding: 5px 30px 5px 30px;  font-size: 1.1em;text-decoration:none;transition:color .4s ease-in-out;-moz-transition:color .4s ease-in-out;-webkit-transition:color .4s ease-in-out;-o-transition:color .4s ease-in-out}
.memenu>li>.mepanel {
	position: absolute;
	display: none;
	background: #fff;
	width: 80%;
	top: 56px;
	left: 10.7%;
	z-index: 99;
	padding: 20px 30px 20px;
	border: solid 1px #ccc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 9999;
}
.me-one ul{
	padding:0;
}
.me-one ul li {
  list-style: none;
  margin: 0 0 10px 0;
  text-align: left !important;
  display: block;
}
.me-one ul li a{
	color:#181b2a;
	font-size:15px;
	font-weight:600;
}
.me-one ul li a:hover{
	text-decoration:none;
	color:#8c2830;
}
.me-one h4{
	color:#8c2830;
	font-size:1.3em;
	font-weight:600;
	text-align:left;
}
.memenu .mepanel ul{margin:0;padding:0}
.memenu .mepanel img{width:100%;border:solid 1px #dedede;cursor:pointer;-webkit-transition:border .3s linear;-moz-transition:border .3s linear;-o-transition:border .3s linear;transition:border .3s linear}.memenu .mepanel img:hover{border:solid 1px #777}.memenu form.contact input,.memenu form.contact textarea{font-family:Calibri,Arial;font-size:16px;color:#444;outline:0}
.mepanel .row{width:100%;margin-top:15px}
.mepanel .row:first-child{margin-top:0}
.mepanel .row:before,.mepanel .row:after{display:table;content:"";line-height:0}
.mepanel .row:after{clear:both}
.mepanel .row .col1,.mepanel .row .col2,.mepanel .row .col3,.mepanel .row .col4,.mepanel .row .col5,.mepanel .row .col6{display:block;width:100%;min-height:20px;float:left;margin-left:2.127659574468085%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.mepanel .row [class*="col"]:first-child{margin-left:0}
.mepanel .row .col1 {
  width: 31.91%;
}
.mepanel .row .col2{width:31.914893617021278%}
.mepanel .row .col3{width:48.93617021276595%}
.mepanel .row .col4{width:65.95744680851064%}
.mepanel .row .col5{width:82.97872340425532%}
.mepanel .row .col6{width:100%}
.memenu>li.showhide{
	display:none;
	width:100%;
	height:44px;
	cursor:pointer;
	color:#555;
	background:#1755b3;
	
}
.memenu>li.showhide span.title{margin:11px 0 0 25px;color: #fff;float:left}
.memenu>li.showhide span.icon1:after{position:absolute;content:"";right:25px;top:12px;height:3px;width:25px;font-size:50px;border-top:3px solid #fff;border-bottom:3px solid #fff;z-index:1}
.memenu>li.showhide span.icon2:after{position:absolute;content:"";right:25px;top:24px;height:3px;width:25px;font-size:50px;border-top:3px solid #fff;border-bottom:3px solid #fff;z-index:1}	
.skyblue li>a,.skyblue>li.showhide span{color:#1755b3}
.skyblue>li:hover>a,.skyblue>li.active>a,.skyblue .dropdown li:hover>a{color:#000}
.skyblue .mepanel img:hover,.skyblue form.contact input[type="text"]:focus,.skyblue form.contact textarea:focus{border:solid 1px #0194be}
.skyblue form.contact input[type="submit"]{background:#0194be}
@media(max-width:768px){
	.memenu>li{display:block;width:100%;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
	.memenu>li:hover,.memenu>li.active{border-top:0}
	.memenu>li>a{ padding: 0.7em 0;}
	.memenu>li:hover>a,.memenu>li.active>a{padding: 0.7em 0;}
	.memenu a{width:100%;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
	.memenu .dropdown,.memenu .dropdown li .dropdown{width:100%;display:none;left:0;border-left:0;position:static;border:0;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
	.memenu .dropdown li{background:#fff!important;border:0}
	.memenu .dropdown>li>a{padding-left:40px!important}
	.memenu>li>.mepanel {
		position: static;
		margin-top: 50px;
		border: none;
		width: 100%;
		}
	.me-one ul li {
		text-align: center !important;
	}
	.mepanel .row{
		margin:0;
	}
	.mepanel .row [class*="col"]{float:none;display:block;width:100%;margin-left:0;margin-top:15px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
	.mepanel .row:first-child [class*="col"]:first-child{margin-top:0}
	.mepanel .row{margin-top:0}.black{background:#222}
	}
@media(max-width:320px){
.memenu>li.showhide {
  	height: 37px;
}
.memenu>li.showhide span.title {
  margin: 8px 0 0 15px;
  color:#fff;
}
.memenu>li.showhide span.icon1:after {
  right: 10px;
  top: 9px;
}
.memenu>li.showhide span.icon2:after {
  right: 10px;
  top: 21px;
}
.memenu>li>a {
  font-size: 1em;
}
}